/notlar
/ders_12/node_modules
/ders_13/node_modules
/ders_14/node_modules
/ders_15/node_modules
/ders_16/node_modules
/ders_17/node_modules
/ders_18/node_modules
/ders_19/node_modules
/self-study

/.DS_store